.wrapper-evaluation {
    max-width: 900px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    margin: auto;
    box-shadow: none;
}

.hide {
  display:none !important;

}

h3{
  margin-left:15px;
}


.validation-btn{
  margin-top:20px;
}

.set-specific-card{
  box-shadow: none !important;
  width: 50%;
  margin-top: 0px;
  padding:15px !important;
  margin: auto;
  min-width: 200px;
  background-color:#c13831;
  color:white;
}


.wrapper-evaluation mat-expansion-panel{
    box-shadow: none;
    border:1px solid rgba(0, 0, 0, 0.12);
    border-radius: 0px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}
.mat-expansion-panel-header-description, .mat-expansion-panel-header-title {
    flex-grow:1.5;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
