.outer-wrapper {
  position: fixed;
  width: 100%;
  bottom: 0px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  text-align: center;


  .pin-main {
    padding: 15px;

  }
  .footer{
    padding: 15px;
    color:white;
  }
}
