@import "src/scss/mixins.scss";

.lang-icon{
  display: none;
  cursor: pointer;
  @include md { display: inline-block; }
  @include sm { display: inline-block; }
}


.fill-space{
    flex: 1 1 auto;
}

mat-form-field{
    font-size: 14px;
    margin-top: 10px;
    @include md { visibility: hidden; width: 20px;}
    @include sm { visibility: hidden; width: 20px; }
}

mat-toolbar {
    height: 90px;
}

.logo{
    width: 64px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 15px 30px 0 rgba(0,0,0,.11),0 5px 15px 0 rgba(0,0,0,.08) !important;
    outline: none;
}
.logo:hover{
    cursor: pointer;
}


.header {
    margin-left: 20px;
}
