@import "src/scss/mixins.scss";

.loading-content {
  opacity: 0.5;
  pointer-events: none;
  z-index: 3;
}

.loading-bar {
  margin: auto;
  vertical-align: center;
  padding: 34.5px;
}


:host /deep/ .mat-horizontal-content-container {
  overflow: inherit;
  @include sm {
    padding:5px;
    padding-bottom: 30px;
  }
}

.wrapper-main {
  margin: auto;
  display: flex;
  flex-wrap: wrap;

  .navigate-btn {
    text-align: center;
    margin-top: 150px;
    flex: 1;
    order: 1;
  }

  .main-test {
    flex: 2;
    order: 1;
    min-width: 335px;

    .single-test {
      display: block;
      margin-top: 10px;
    }
  }

  @include sm {

    padding: 0px;

    .main-test {
      order: 2;
    }

    .navigate-btn {
      margin-top: 20px;
      flex-basis: 50%;
    }
  }

  @include md {
    padding: 0px;

    .navigate-btn {
      flex: 0.5;
    }
  }

}
