.countdown-main{
    position:relative;
    width: 100px;
    height:100px;
    h3{
        position: absolute;
        width: 100px;
        top: 40%;
        margin: 0px;
        text-align: center;
    }
}

