<div class="head-wrapper">
  <div></div>
  <div *ngFor="let head of test.header">
    <app-formatted-text-area [rawText]="head"></app-formatted-text-area>
  </div>
</div>

<div *ngFor="let option of test.options; index as i" class="opt-wrapper">
  <div class="no-center">
    <app-formatted-text-area [rawText]="option.text"></app-formatted-text-area>
  </div>
  <div *ngFor="let head of test.header; index as j">
    <mat-radio-button
      name ="{{i+''+j}}"
      [value]="head"
      [checked]="models[i][j]"
      (change)="handleModelChange(true, i, j)"
    ></mat-radio-button>
  </div>
</div>
