<h1 mat-dialog-title>{{'btn-pin-input' | language}}</h1>
<div mat-dialog-content>
  <p class="errorMessage" *ngIf="errorMessage">{{errorMessage}}</p>
  <div *ngIf="!loading">
  <p>{{'lbl-pin-request' | language}}</p>
  <form>
  <mat-form-field>
    <input matInput [formControl]="pinFormControl">
    <mat-error *ngIf="pinFormControl.hasError('pattern')">
      {{'lbl-not-valid-pin' | language}}
    </mat-error>
  </mat-form-field>
</form>
</div>
<div *ngIf="loading" class="load">
    <mat-spinner diameter="65"></mat-spinner>
</div>
</div>
<div mat-dialog-actions *ngIf="!loading">
  <button [disabled]="pinFormControl.hasError('pattern') || pinFormControl.hasError('required')" mat-button (click)="getProtocol()">OK</button>
</div>