<mat-toolbar color="primary">
  <img [routerLink]="['/dashboard']" class="logo" appImg [src]="'vendor' | resources:'logo'"/>

<span class="header">{{'header' | resources}}</span>
<span class="fill-space"></span>
<span class="lang-icon" (click)="langSelect.open()"><mat-icon>language</mat-icon></span>
<mat-form-field appearance="legacy" >
  <mat-select #langSelect [placeholder]="'language'| language" [value]="'language' | resources" (selectionChange)="langChange($event)">
    <mat-option *ngFor="let la of lang" [value]="la">
      {{la}}
    </mat-option>
  </mat-select>
</mat-form-field>
</mat-toolbar>

