
<!-- CONTROL SETTINGS -->
<app-switch-mode
    (buildOut)="changeMode($event)"
    (endOut)="end($event)"
    (langChangeOut)="langChange($event)">
</app-switch-mode>

<!-- CREATION CARD -->
<div *ngIf="build">
    <app-create-test
        [test]="test"
        [language]="currentLanguage"
        (endOut)="end($event)">
    </app-create-test>
</div>

<!-- TEST CARD -->
<div *ngIf="!build">
    <app-single-test-card
        [singleTest]="getCurrentLangTest()"
        [admin]="true"
        [models]="model">
    </app-single-test-card>
</div>

