<div *ngIf="started; else starttask">

<app-countdown *ngIf="!done" [seconds]="5" (finished)="endTask()"></app-countdown>

<div *ngIf="singleTest">
  <ul>
    <li *ngFor="let optionArr of optionsSplit; index as i">
      <div class="mat-div-replacement" [ngClass]="{'disabled-test-card': done}">

        <div class="li-option">
          <span class="char-elem" *ngFor="let char of optionArr; index as j" (mouseover)="spanMouseAction(true, i,j)"
            (mouseout)="spanMouseAction(false, i,j)" (click)="spanClickAction(i,j)" [ngClass]="{'hover-class': coloredOptions[i][j] && !done}"
            [innerHTML]="char">
          </span>
        </div>

        <div class="li-chip">
          <mat-chip-list *ngIf="choosenOptions[i]">
            <mat-chip class="char-elem" (removed)="removeOption(i)" [ngClass]="{'choosenValue': choosenOptions[i]}"
              class="choosen">
              {{choosenOptions[i]}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
        </div>

      </div>
    </li>
  </ul>
</div>
</div>

<ng-template #starttask>
    <button mat-raised-button color="primary" (click)="startTask()">Start Task</button>
  </ng-template>