@import "src/scss/mixins.scss";

.start-test-wrapper {
  max-width: 800px;
  margin: auto;

  @include sm {
    padding-top: 0px;
  }
}

img {
  display: block;
  margin: auto;
  margin-top: 26px;
  max-width: 300px;
  max-height: 300px;

  @include sm {
    display: none;
  }
}

.info-content {
  display: flex;
  justify-content: space-around;

  mat-list {
    min-width: 200px;
  }
}

.pin-note {
  order: 3;
  flex: 100%;
  padding: 20px;
  background-color: beige;
  margin-bottom: 10px;
}
