<mat-card>

    <!-- <mat-form-field appearance="legacy" >
        <mat-select placeholder="Language" [value]="language" (selectionChange)="languageChoosen($event)">
          <mat-option *ngFor="let la of course.languages" [value]="la">
            {{la}}
          </mat-option>
        </mat-select>
      </mat-form-field> -->


  <div class="start-test-info">

    <div class="info-img" *ngIf="course">
      <img appImg [src]="course.icon" />
    </div>
    
    <div class="info-content">

      <p>{{infoContent}}</p>

      <mat-list role="list">
        <h3 mat-header>{{notesLbl}}</h3>
        <mat-list-item role="listitem" *ngFor="let note of notes">
          <mat-icon matListIcon>done</mat-icon> {{note}}
        </mat-list-item>
      </mat-list>

      <h4>{{encouragement}}</h4>
    </div>
    <div class="pin-note">
      <i>Hinweis:</i>
      <p>
        {{pinNote}}
      </p>
      <p>
        <b>PIN: {{this.pin}}</b>
      </p>
    </div>

  </div>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="startSelfAssessment()">{{startTestLbl}}</button>

  </mat-card-actions>
</mat-card>
