<mat-card>

    <!-- <mat-form-field appearance="legacy" >
        <mat-select placeholder="Language" [value]="language" (selectionChange)="languageChoosen($event)">
          <mat-option *ngFor="let la of course.languages" [value]="la">
            {{la}}
          </mat-option>
        </mat-select>
      </mat-form-field> -->


  <div class="start-test-info">

    <div class="info-img" *ngIf="course">
      <img appImg [src]="course.icon" />
    </div>
    
    <div class="info-content">

      <p>{{'lbl-selfassement-intro' | language}}</p>

      <mat-list role="list">
        <h3 mat-header>{{'lbl-tip' | language}}</h3>
        <mat-list-item role="listitem" *ngFor="let note of notes">
          <mat-icon matListIcon>done</mat-icon> {{ note | language}}
        </mat-list-item>
      </mat-list>

      <h4>{{'lbl-encouragement' | language}}</h4>
    </div>
    <div class="pin-note">
      <i>{{'lbl-note' | language}}</i>
      <p>
          {{'lbl-note-text' | language}}
      </p>
      <p>
        <b>PIN: {{this.pin}}</b>
      </p>
    </div>

  </div>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="startSelfAssessment()">{{'btn-start-assessment' | language}}</button>

  </mat-card-actions>
</mat-card>
