$info-img-width: 300px;
$info-img-height: 300px;

.start-test-wrapper{
  padding-top:50px;
  max-width: 800px;
  margin: auto;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

img {
  display: block;
  margin: auto;
  margin-top:26px;
  max-width: $info-img-width;
  max-height: $info-img-height;
}

.info-content {
  display:flex;
  justify-content: space-around;

  mat-list{
    min-width: 200px;
  }
}


.start-test-info {

    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-around;


    // .info-img{
    //     order: 2;
    //     flex: 1;

    // }

    // .info-content{
    //     order:1;
    //     flex: 1;
    //     min-width: 300px;

    // }


}

.pin-note {
  order: 3;
  flex: 100%;
  padding: 20px;
  background-color: beige;
  margin-bottom: 10px;
}
