mat-radio-button, mat-checkbox {
    margin: 8px;
}

mat-card {
    padding:40px;
    min-height: 200px;

}

mat-card-footer {
  height: 10px;

  span{
    font-size: 10px;
    color:lightgrey;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
}

.head-wrapper {
  padding:10px 0px 10px 10px;
  display:flex;
  justify-content: center;
  align-items: center;
  div {
    text-align: center;
    flex-direction: row;

    flex-basis: 0;
    flex-grow: 1;
  }

}

.opt-wrapper {
  display:flex;
  justify-content: center;
  align-items: center;
  div {
    flex-direction: row;
    text-align: center;

    flex-basis: 0;
    flex-grow: 1;
  }

}

.no-center {
  text-align: left !important;
}

.opt-wrapper:nth-child(even) {
  background-color: #eee;
}

.opt-wrapper {
  padding:10px 0px 10px 10px;
}

.radio-group{
  display: flex;
}

.disabled-test-card{
    pointer-events: none;
    opacity: 0.5;
  }


  .time-warning{
    background-color: beige;
    padding:15px;
    text-align: center;
}
