<mat-card>
  <mat-card-content>
    <p>
      <app-formatted-text-area [rawText]="singleTest.description">
      </app-formatted-text-area>
    </p>

    <p>
      <app-formatted-text-area [rawText]="singleTest.task">
      </app-formatted-text-area>
    </p>

    <div *ngIf="singleTest.seconds">

      <!-- WARNING MESSAGE & START BTN -->
      <div *ngIf="timeWarning" class="time-warning">
        <h3>
          Diese Aufgabe muss innerhalb von {{ singleTest.seconds }} Sekunden
          bearbeitet werden.
        </h3>
        <button mat-raised-button color="primary" (click)="startTask()">
          Starte die Aufgabe
        </button>
      </div>

      <!-- COUNTDOWN CLOCK -->
      <div *ngIf="countdownClock">
        <app-countdown
          [seconds]="singleTest.seconds"
          (finished)="endTask()"></app-countdown>
      </div>

  </div>

    <!-- CATEGORY COMPONENT -->
    <div [ngClass]="{ 'disabled-test-card': componentDisabled }">
      <ng-template appTestComponentHost></ng-template>
    </div>

  </mat-card-content>
  <mat-card-footer>
    <span>{{ singleTest.id }}</span>
  </mat-card-footer>
</mat-card>



