<div *ngIf="test" class="options-container">
  <ul>
    <li *ngFor="let optionArr of optionsSplit; index as i">
      <div
        class="mat-div-replacement"
        [ngClass]="{ 'disabled-test-card': done }">

        <!-- EVERY MATCHABLE OPTION DIVIDED INTO CHARS-->
        <div class="li-option">
          <span
            class="char-elem"
            *ngFor="let char of optionArr; index as j"
            (mouseover)="spanMouseAction(true, i, j)"
            (mouseout)="spanMouseAction(false, i, j)"
            (click)="handleModelChange(null, i, j)"
            [ngClass]="{ 'hover-class': coloredOptions[i][j] && !done }"
            [innerHTML]="char">
          </span>
        </div>

        <!-- CHOOSEN MATCH CHIP -->
        <div class="li-chip">
          <mat-chip-list *ngIf="checkSubstringFromModel(i)">
            <mat-chip
              class="char-elem"
              (removed)="removeOption(i)"
              [ngClass]="{ choosenValue: checkSubstringFromModel(i) }"
              class="choosen">
              {{ checkSubstringFromModel(i) }}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
        </div>

      </div>
    </li>
  </ul>
</div>
