<div *ngIf="started; else starttask">

  <div class="countdown">
    <app-countdown *ngIf="!done" [seconds]="test.seconds" (finished)="endTask()"></app-countdown>
  </div>
  
  <div *ngIf="test" class="options-container">
    <ul>
      <li *ngFor="let optionArr of optionsSplit; index as i">
        <div class="mat-div-replacement" [ngClass]="{'disabled-test-card': done}">
  
          <div class="li-option">
            <span class="char-elem" *ngFor="let char of optionArr; index as j" (mouseover)="spanMouseAction(true, i,j)"
              (mouseout)="spanMouseAction(false, i,j)" (click)="handleModelChange(null,i,j)" [ngClass]="{'hover-class': coloredOptions[i][j] && !done}"
              [innerHTML]="char">
            </span>
          </div>
  
          <div class="li-chip">
            <mat-chip-list *ngIf="models[i]">
              <mat-chip class="char-elem" (removed)="removeOption(i)" [ngClass]="{'choosenValue': models[i]}"
                class="choosen">
                {{models[i]}}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
            </mat-chip-list>
          </div>
  
        </div>
      </li>
    </ul>
  </div>
  </div>
  
  <ng-template #starttask>
      <h3>Diese Aufgabe muss innerhalb von {{test.seconds}} Sekunden bearbeitet werden.</h3>
      <button mat-raised-button color="primary" (click)="startTask()">Starte die Aufgabe</button>
  </ng-template>