$mobile:  320px;
$tablet:  740px;
$desktop: 980px;

// Small devices
@mixin sm {
  @media (min-width: 0px) and (max-width: #{$tablet}) {
      @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$tablet}) and (max-width: #{$desktop}) {
      @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$desktop}) {
      @content;
  }
}

// mixin that creates a bottom row styling,
// the bottom position must be provided
@mixin bottom-row($bottom-pos, $color: black) {
  text-align: center;
  padding:15px 0px 15px 0px;
  position: absolute;
  width: 100%;
  margin-top:25px;
  bottom: $bottom-pos;
  color: $color;
}
