@import "src/scss/mixins.scss";

.left-img{
  @include sm {
    padding: 0px;
    float: none;
    width: 100%;
  }
  float: left;
  width: 50%;
  padding:0px 20px 10px 0px;
  img {
    width: 100%;
    height: auto;
  }
}


.right-img {
  @include sm {
    padding: 0px;
    float: none;
    width: 100%;
  }
  float: right;
  width: 50%;
  padding:0px 20px 10px 0px;
  img {
    width: 100%;
    height: auto;
  }
}


